
ion-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ion-grid {
  flex-grow: 1;
}

.delete-all-workout-container {
  margin-top: auto;
}

.user-workout-container {
  height: auto;
  min-height: 100%;
}

.user-workout-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.user-workout-title-container ion-icon {
  padding: 0.2rem;
  background-color: var(--neutral-white);
  border-radius: 50%;
}

.workout-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-workout-icon {
  text-align: center;
  margin-bottom: 0.5rem;
}

.delete-all-workout {
  background-color: var(--danger);
}
