
.workout-info-group {
  text-align: center;
  padding: 1rem;
  border-radius: 50%;
}

.workout-info-group img {
  background-color: var(--neutral-white);
  height: 3rem;
  width: auto;
  padding: 0.2rem;
  margin: 0 0.3rem;
  border-radius: 50%;
}
