

.physical-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.physical-title-container h1 {
  padding: 1rem;
}

.physical-title-container ion-icon {
  background-color: var(--neutral-white);
  border-radius: 50%;
  color: var(--primary-green);
  margin-right: 0.3rem;
}

.physical-card {
  box-shadow: 0 0 10px 0 var(--primary-dark);
  border-radius: 0.2rem;
  background-color: var(--primary-green);
  color: var(--neutral-white);
  margin-bottom: 1rem;
}

.assessment-box, .next-assessment-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
}

.assessment-card-title, .assessment-card-sub-title {
  letter-spacing: 1px;
  line-height: 24px;
}

.assessment-card-title {
  color: var(--primary-dark);
  font-size: 0.8rem;
  font-weight: 600;
}

.assessment-card-sub-title {
  font-size: 0.6rem;
  font-weight: 500;
}

.physical-not-found {
  text-align: center;
  font-size: 0.8rem;
  color: var(--primary-green);
  letter-spacing: 1px;
  line-height: 24px;
}
