<div [formGroup]="medicalHistoryForm">
  <div class="form-group">
    <ion-input
      id="goal"
      type="text"
      class="custom-input"
      formControlName="goal"
      label="Objetivo"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite o objetivo">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="activityHistory"
      type="text"
      class="custom-input"
      formControlName="activityHistory"
      label="Histórico de Atividade"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite o histórico de atividade">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="surgeries"
      type="text"
      class="custom-input"
      formControlName="surgeries"
      label="Cirurgias"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite as cirurgias">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="medications"
      type="text"
      class="custom-input"
      formControlName="medications"
      label="Medicamentos"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite os medicamentos">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="fracture"
      type="text"
      class="custom-input"
      formControlName="fracture"
      label="Fratura"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a fratura">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="eatingHabits"
      type="text"
      class="custom-input"
      formControlName="eatingHabits"
      label="Hábitos Alimentares"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite os hábitos alimentares">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="otherPathology"
      type="text"
      class="custom-input"
      formControlName="otherPathology"
      label="Outra Patologia"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite outra patologia">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="profession"
      type="text"
      class="custom-input"
      formControlName="profession"
      label="Profissão"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a profissão">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="mealFrequency"
      type="text"
      class="custom-input"
      formControlName="mealFrequency"
      label="Quantidade de Refeições"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a quantidade de refeições">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="supplements"
      type="text"
      class="custom-input"
      formControlName="supplements"
      label="Suplementos"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite os suplementos">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="waterIntake"
      type="text"
      class="custom-input"
      formControlName="waterIntake"
      label="Ingestão de Água"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a ingestão de água">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="inactivityTime"
      type="text"
      class="custom-input"
      formControlName="inactivityTime"
      label="Tempo Sem Atividade"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite o tempo sem atividade">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="sleepHours"
      type="number"
      class="custom-input"
      formControlName="sleepHours"
      label="Horas de Sono"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite as horas de sono">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="sleepQuality"
      type="number"
      class="custom-input"
      formControlName="sleepQuality"
      label="Qualidade do Sono"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a qualidade do sono">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="stressLevel"
      type="number"
      class="custom-input"
      formControlName="stressLevel"
      label="Nível de Estresse"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite o nível de estresse">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="selfImage"
      type="number"
      class="custom-input"
      formControlName="selfImage"
      label="Autoimagem"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a autoimagem">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="selfEsteem"
      type="number"
      class="custom-input"
      formControlName="selfEsteem"
      label="Autoestima"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a autoestima">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="dailyDisposition"
      type="number"
      class="custom-input"
      formControlName="dailyDisposition"
      label="Disposição Diária"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a disposição diária">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="weeklyTrainingFrequency"
      type="number"
      class="custom-input"
      formControlName="weeklyTrainingFrequency"
      label="Frequência Semanal de Treinos"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a frequência semanal de treinos">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="availableTime"
      type="number"
      class="custom-input"
      formControlName="availableTime"
      label="Tempo Disponível"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite o tempo disponível">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="osteoarthritis"
      type="text"
      class="custom-input"
      formControlName="osteoarthritis"
      label="Artrose"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a artrose">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="eatingHabitScore"
      type="number"
      class="custom-input"
      formControlName="eatingHabitScore"
      label="Hábito Alimentar"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a nota do hábito alimentar">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="painLevel"
      type="number"
      class="custom-input"
      formControlName="painLevel"
      label="Dor"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite o nível de dor">
    </ion-input>
  </div>
</div>
