<div [formGroup]="medicalHistoryForm">
  <div class="form-group">
    <ion-input
      id="goal"
      type="text"
      class="custom-input"
      formControlName="goal"
      label="Objetivo"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Saúde e Emagrecimento">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="activityHistory"
      type="text"
      class="custom-input"
      formControlName="activityHistory"
      label="Histórico de Atividade"
      labelPlacement="stacked"
      fill="outline"
      placeholder="1 ano de musculação">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="surgeries"
      type="text"
      class="custom-input"
      formControlName="surgeries"
      label="Cirurgias"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Não">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="medications"
      type="text"
      class="custom-input"
      formControlName="medications"
      label="Medicamentos"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Sibutramina, omega 3">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="fracture"
      type="text"
      class="custom-input"
      formControlName="fracture"
      label="Fratura"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Não">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="eatingHabits"
      type="text"
      class="custom-input"
      formControlName="eatingHabits"
      label="Hábitos Alimentares"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Acompanhamento com endo">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="otherPathology"
      type="text"
      class="custom-input"
      formControlName="otherPathology"
      label="Outra Patologia"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Alterações Hormonais">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="profession"
      type="text"
      class="custom-input"
      formControlName="profession"
      label="Profissão"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Programador">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="mealFrequency"
      type="text"
      class="custom-input"
      formControlName="mealFrequency"
      label="Quantidade de Refeições"
      labelPlacement="stacked"
      fill="outline"
      placeholder="5">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="supplements"
      type="text"
      class="custom-input"
      formControlName="supplements"
      label="Suplementos"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Whey, Creatina e Multivitaminicos">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="waterIntake"
      type="text"
      class="custom-input"
      formControlName="waterIntake"
      label="Ingestão de Água"
      labelPlacement="stacked"
      fill="outline"
      placeholder="2L">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="inactivityTime"
      type="text"
      class="custom-input"
      formControlName="inactivityTime"
      label="Tempo Sem Atividade"
      labelPlacement="stacked"
      fill="outline"
      placeholder="1 ano">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="sleepHours"
      type="number"
      class="custom-input"
      formControlName="sleepHours"
      label="Horas de Sono"
      labelPlacement="stacked"
      fill="outline"
      placeholder="7">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="sleepQuality"
      type="number"
      class="custom-input"
      formControlName="sleepQuality"
      label="Qualidade do Sono"
      labelPlacement="stacked"
      fill="outline"
      placeholder="5">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="stressLevel"
      type="number"
      class="custom-input"
      formControlName="stressLevel"
      label="Nível de Estresse"
      labelPlacement="stacked"
      fill="outline"
      placeholder="10">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="selfImage"
      type="number"
      class="custom-input"
      formControlName="selfImage"
      label="Autoimagem"
      labelPlacement="stacked"
      fill="outline"
      placeholder="2">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="selfEsteem"
      type="number"
      class="custom-input"
      formControlName="selfEsteem"
      label="Autoestima"
      labelPlacement="stacked"
      fill="outline"
      placeholder="2">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="dailyDisposition"
      type="number"
      class="custom-input"
      formControlName="dailyDisposition"
      label="Disposição Diária"
      labelPlacement="stacked"
      fill="outline"
      placeholder="7">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="weeklyTrainingFrequency"
      type="number"
      class="custom-input"
      formControlName="weeklyTrainingFrequency"
      label="Frequência Semanal de Treinos"
      labelPlacement="stacked"
      fill="outline"
      placeholder="5">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="availableTime"
      type="number"
      class="custom-input"
      formControlName="availableTime"
      label="Tempo Disponível"
      labelPlacement="stacked"
      fill="outline"
      placeholder="90">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="osteoarthritis"
      type="text"
      class="custom-input"
      formControlName="osteoarthritis"
      label="Artrose"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Não">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="eatingHabitScore"
      type="number"
      class="custom-input"
      formControlName="eatingHabitScore"
      label="Hábito Alimentar"
      labelPlacement="stacked"
      fill="outline"
      placeholder="6">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="painLevel"
      type="number"
      class="custom-input"
      formControlName="pain"
      label="Dor"
      labelPlacement="stacked"
      fill="outline"
      placeholder="1">
    </ion-input>
  </div>
</div>
