<div [formGroup]="anthropometryForm">
  <div class="form-group">
    <ion-input
      id="shoulder"
      type="number"
      class="custom-input"
      formControlName="shoulder"
      label="Ombro"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a medida do ombro">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="waist"
      type="number"
      class="custom-input"
      formControlName="waist"
      label="Cintura"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a medida da cintura">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="abdomen"
      type="number"
      class="custom-input"
      formControlName="abdomen"
      label="Abdômen"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a medida do abdômen">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="hip"
      type="number"
      class="custom-input"
      formControlName="hip"
      label="Quadril"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a medida do quadril">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="relaxedThigh"
      type="number"
      class="custom-input"
      formControlName="relaxedThigh"
      label="Coxa Relaxada"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a medida da coxa relaxada">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="calf"
      type="number"
      class="custom-input"
      formControlName="calf"
      label="Panturrilha"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a medida da panturrilha">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="relaxedArm"
      type="number"
      class="custom-input"
      formControlName="relaxedArm"
      label="Braço Relaxado"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a medida do braço relaxado">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="contractedArm"
      type="number"
      class="custom-input"
      formControlName="contractedArm"
      label="Braço Contraído"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a medida do braço contraído">
    </ion-input>
  </div>
</div>
