

.profile-picture-container {
  display: flex;
  justify-content: center;
  margin-top: 0.7rem;
}

.user-info-row {
  padding-top: 1rem;
}

.profile-img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img-container img {
  width: 100%;
  height: auto;
  display: block;
}

.profile-name {
  text-align: center;
}

.profile-info-img {
  width: auto;
  height: 2.5rem;
  overflow: hidden;
}

.profile-info-thumb {
  margin: 0;
  align-items: center;
  display: flex;
}

.profile-info-card {
  margin: 0 0 1rem 0;
}

.profile-info-card-content {
  padding-left: 0;
}

.profile-info-value {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--primary-green);
}

.profile-info-value small {
  font-size: 0.7rem;
  font-weight: 700;
  color: var(--primary-dark);
}
