
.profile-picture-container {
  display: flex;
  justify-content: center;
  margin-top: 0.7rem;
}

.profile-img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img-container img {
  width: 100%;
  height: auto;
  display: block;
}

.profile-name {
  text-align: center;
}
