<ion-content>
  <ion-grid class="gradient">

    <app-page-spinner *ngIf="showSpinner"></app-page-spinner>

    <ion-row *ngIf="!showSpinner">
      <ion-col class="all-workout-title-container">
        <h1 class="title">Todos os Treinos</h1>
      </ion-col>
    </ion-row>


    <ion-row *ngIf="!showSpinner">
      <ion-col size="6" *ngFor="let workout of workouts">
        <div class="workout-info-group" (click)="moveToWorkoutList(workout)">
          <img [src]="workout.name | exerciseImg" [alt]="workout.name" />
          <p class="text">{{ workout.name === 'antebraco' ? 'antebraço' : workout.name }}</p>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

