<div [formGroup]="bodyCompositionForm">
  <div class="form-group">
    <ion-input
      id="biceps"
      type="number"
      class="custom-input"
      formControlName="biceps"
      label="Bíceps"
      labelPlacement="stacked"
      fill="outline"
      placeholder="20">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="triceps"
      type="number"
      class="custom-input"
      formControlName="triceps"
      label="Tríceps"
      labelPlacement="stacked"
      fill="outline"
      placeholder="31">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="chest"
      type="number"
      class="custom-input"
      formControlName="chest"
      label="Peito"
      labelPlacement="stacked"
      fill="outline"
      placeholder="38">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="midAxillary"
      type="number"
      class="custom-input"
      formControlName="midAxillary"
      label="Axilar Média"
      labelPlacement="stacked"
      fill="outline"
      placeholder="28">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="subscapular"
      type="number"
      class="custom-input"
      formControlName="subscapular"
      label="Subescapular"
      labelPlacement="stacked"
      fill="outline"
      placeholder="38">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="suprailiac"
      type="number"
      class="custom-input"
      formControlName="suprailiac"
      label="Suprailíaca"
      labelPlacement="stacked"
      fill="outline"
      placeholder="35">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="abdomenBody"
      type="number"
      class="custom-input"
      formControlName="abdomen"
      label="Abdômen"
      labelPlacement="stacked"
      fill="outline"
      placeholder="50">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="thigh"
      type="number"
      class="custom-input"
      formControlName="thigh"
      label="Coxa"
      labelPlacement="stacked"
      fill="outline"
      placeholder="55">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="calfBody"
      type="number"
      class="custom-input"
      formControlName="calf"
      label="Panturrilha"
      labelPlacement="stacked"
      fill="outline"
      placeholder="40">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="wrist"
      type="number"
      class="custom-input"
      formControlName="wrist"
      label="Punho"
      labelPlacement="stacked"
      fill="outline"
      placeholder="0">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="femur"
      type="number"
      class="custom-input"
      formControlName="femur"
      label="Fêmur"
      labelPlacement="stacked"
      fill="outline"
      placeholder="0">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="humerus"
      type="number"
      class="custom-input"
      formControlName="humerus"
      label="Úmero"
      labelPlacement="stacked"
      fill="outline"
      placeholder="0">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="ankle"
      type="number"
      class="custom-input"
      formControlName="ankle"
      label="Tornozelo"
      labelPlacement="stacked"
      fill="outline"
      placeholder="0">
    </ion-input>
  </div>
</div>
