<div [formGroup]="bodyCompositionForm">
  <div class="form-group">
    <ion-input
      id="biceps"
      type="number"
      class="custom-input"
      formControlName="biceps"
      label="Bíceps"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a medida do bíceps">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="triceps"
      type="number"
      class="custom-input"
      formControlName="triceps"
      label="Tríceps"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a medida do tríceps">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="chest"
      type="number"
      class="custom-input"
      formControlName="chest"
      label="Peito"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a medida do peito">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="midAxillary"
      type="number"
      class="custom-input"
      formControlName="midAxillary"
      label="Axilar Média"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a medida axilar média">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="subscapular"
      type="number"
      class="custom-input"
      formControlName="subscapular"
      label="Subescapular"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a medida subescapular">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="suprailiac"
      type="number"
      class="custom-input"
      formControlName="suprailiac"
      label="Suprailíaca"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a medida suprailíaca">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="abdomenBody"
      type="number"
      class="custom-input"
      formControlName="abdomen"
      label="Abdômen"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a medida do abdômen">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="thigh"
      type="number"
      class="custom-input"
      formControlName="thigh"
      label="Coxa"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a medida da coxa">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="calfBody"
      type="number"
      class="custom-input"
      formControlName="calf"
      label="Panturrilha"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a medida da panturrilha">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="wrist"
      type="number"
      class="custom-input"
      formControlName="wrist"
      label="Punho"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a medida do punho">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="femur"
      type="number"
      class="custom-input"
      formControlName="femur"
      label="Fêmur"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a medida do fêmur">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="humerus"
      type="number"
      class="custom-input"
      formControlName="humerus"
      label="Úmero"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a medida do úmero">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="ankle"
      type="number"
      class="custom-input"
      formControlName="ankle"
      label="Tornozelo"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a medida do tornozelo">
    </ion-input>
  </div>
</div>
