<div class="physical-info" *ngIf="medicalInfo">
  <p class="physical-info-title">ANAMNESE</p>
  <div class="info-group">
    <div class="info">
      <p class="info-title">Objetivos</p>
      <p class="info-value">{{ medicalInfo.goal }}</p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <p class="info-title">Histórico de Atividade Física</p>
      <p class="info-value">{{ medicalInfo.activityHistory }}</p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <p class="info-title">Cirurgias</p>
      <p class="info-value">{{ medicalInfo.surgeries }}</p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <p class="info-title">Medicamentos</p>
      <p class="info-value">{{ medicalInfo.medications }}</p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <p class="info-title">Fraturas</p>
      <p class="info-value">{{ medicalInfo.fracture }}</p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <p class="info-title">Hábitos Alimentares</p>
      <p class="info-value">{{ medicalInfo.eatingHabits }}</p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <p class="info-title">Outra Patologia</p>
      <p class="info-value">{{ medicalInfo.otherPathology }}</p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <p class="info-title">Profissão</p>
      <p class="info-value">{{ medicalInfo.profession }}</p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <p class="info-title">Quantidade de Refeições</p>
      <p class="info-value">{{ medicalInfo.mealFrequency }}</p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <p class="info-title">Suplementos</p>
      <p class="info-value">{{ medicalInfo.supplements }}</p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <p class="info-title">Ingestão de Água</p>
      <p class="info-value">{{ medicalInfo.waterIntake }}</p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <p class="info-title">Tempo Sem Atividade Física</p>
      <p class="info-value">{{ medicalInfo.inactivityTime }}</p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <p class="info-title">Horas de Sono</p>
      <p class="info-value">{{ medicalInfo.sleepHours }}</p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <p class="info-title">Qualidade do Sono</p>
      <p class="info-value">{{ medicalInfo.sleepQuality }}</p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <p class="info-title">Nível de extress</p>
      <p class="info-value">{{ medicalInfo.stressLevel }}</p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <p class="info-title">Autoimagem</p>
      <p class="info-value">{{ medicalInfo.selfImage }}</p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <p class="info-title">Autoestima</p>
      <p class="info-value">{{ medicalInfo.selfEsteem }}</p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <p class="info-title">Disposição Diária</p>
      <p class="info-value">{{ medicalInfo.dailyDisposition }}</p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <p class="info-title">Frequéncia de Treino na Semana</p>
      <p class="info-value">{{ medicalInfo.weeklyTrainingFrequency }}</p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <p class="info-title">Tempo Disponível</p>
      <p class="info-value">{{ medicalInfo.availableTime }}</p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <p class="info-title">Artrose</p>
      <p class="info-value">{{ medicalInfo.osteoarthritis }}</p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <p class="info-title">Hábito Alimentar</p>
      <p class="info-value">{{ medicalInfo.eatingHabitScore }}</p>
    </div>

    <div class="divider"></div>

    <div class="info">
      <p class="info-title">Dor</p>
      <p class="info-value">{{ medicalInfo.pain}}</p>
    </div>
  </div>
</div>

