
// Warning colors
$success: #10dc60;
$warning: #ffce00;
$danger: #f04141;
$light: #f4f5f8;
$dark: #222428;


// Main Colors
$primary-blue: #007bff;
$primary-green: #556B2F;

// Secondary Colors
$secondary-dark-gray: #343a40;
$secondary-black: #000000;

// Highlight (Accent) Colors
$accent-yellow: #FFD700;
$accent-orange: #FFA500;

// Alternative Highlight Color
$accent-alternative-red: #FF0000;

// Neutral Colors
$neutral-white: #FFFFFF;
$neutral-light-gray: #F8F9FA;
$neutral-dark-gray: #343a40;

// Text Colors
$text-black: #000000;
$text-dark-gray: #343a40;
