
:root {
  // Warning colors
  --success: #10dc60;
  --warning: #ffce00;
  --danger: #f04141;
  --light: #f4f5f8;
  --dark: #222428;

  // Main Colors
  --primary-dark: #010A13;
  --primary-green: #556B2F;

  // Secondary Colors
  --secondary-dark-gray: #343a40;
  --secondary-black: #000000;

  // Highlight (Accent) Colors
  --accent-yellow: #FFD700;
  --accent-orange: #FFA500;

  // Alternative Highlight Color
  --accent-alternative-red: #FF0000;

  // Neutral Colors
  --neutral-white: #FFFFFF;
  --neutral-light-gray: #F8F9FA;
  --neutral-dark-gray: #343a40;

  // Text Colors
  --text-black: #000000;
  --text-dark-gray: #343a40;
}

@font-face {
  font-family: 'Poppins';
  src: url('.././assets/fonts/Poppins-Regular.ttf') format('truetype');
}

p, h1, h2, h3, h4, h5, h6, label, button, span, a, small, ul, table {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: transparent;
}

::placeholder {
  font-family: 'Poppins', sans-serif;
}

//main-background
.gradient {
  background: linear-gradient(to right, var(--primary-dark) 5%, var(--primary-green) 100%);
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

ion-content {
  --ion-background-color: var(--neutral-white);
}

ion-refresher.refresher-native ion-spinner {
  color: var(--primary-green);
}

.title {
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 2.5rem;
  color: var(--neutral-white);
}

.sub-title {
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 2rem;
  color: var(--neutral-white);
}

.text {
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 1.5rem;
  color: var(--neutral-white);
}

ion-input.custom-input {
  margin: 1.2rem 0;
  --border-color: var(--primary-dark);
  --color: var(--primary-green);
  --placeholder-color: var(--primary-green);
  --highlight-color: var(--primary-green);
}

ion-select.custom-input {
  --placeholder-color: var(--primary-green);
  --highlight-color: var(--primary-green);
  color: var(--primary-green);;
}

ion-toast {
  height: 5rem;
  color: var(--neutral-white);
  font-size: 0.8rem;
}
