<div [formGroup]="generalInfoForm">
  <div class="form-group">
    <ion-input
      id="weight"
      type="number"
      class="custom-input"
      formControlName="weight"
      label="Peso"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite o peso">
    </ion-input>
  </div>
  <div class="form-group">
    <ion-input
      id="height"
      type="number"
      class="custom-input"
      formControlName="height"
      label="Estatura"
      labelPlacement="stacked"
      fill="outline"
      placeholder="Digite a estatura">
    </ion-input>
  </div>
</div>
