<ion-menu contentId="main-content">
  <ion-content>
    <app-nav></app-nav>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header *ngIf="showNavMenu()" class="main-header">
    <ion-toolbar color="primary-dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Workout Wizard</ion-title>
      <ion-icon slot="end" name="barbell-outline" size="large" class="main-header-icon"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    <ion-app>
      <ion-router-outlet></ion-router-outlet>
    </ion-app>
  </ion-content>
</div>
