<ion-content>
  <ion-grid class="gradient training-container">

    <ion-row>
      <ion-col class="title-container">
        <h1 class="title">Iniciar treino</h1>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="workouts.length === 0">
      <ion-col class="workout-not-found">
        <p>Nenhum treino encontrado</p>
      </ion-col>
    </ion-row>

    <ion-row class="workout-card-container" *ngFor="let workout of workouts">
      <ion-col class="workout-card">

        <ion-row class="workout-icons-group">
          <ion-col *ngFor="let workoutList of workout.workouts" class="workout-item" size="4">
            <img [src]="workoutList.name | exerciseImg" alt="" />
            <p>{{ workoutList.name }}</p>
          </ion-col>
        </ion-row>

        <button class="submit-button workout-detail-btn" (click)="getClickedWorkout(workout)">
          Iniciar
        </button>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
