<ion-content>
  <ion-grid class="gradient">

    <ion-row>
      <ion-col class="title-container">
        <h1 class="title">Meus Treinos</h1>
        <ion-icon name="add" size="large" (click)="moveRouteForward('/user-add-workout')"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="workout-card-container" *ngFor="let workout of userWorkouts">
      <ion-col class="workout-card">
        <div class="workout-icons-group">
          <img *ngFor="let workoutList of workout.workouts" src="assets/icon/body.png" alt="" />
        </div>

        <div class="workout-name-group">
          <p *ngFor="let workoutList of workout.workouts">{{ workoutList.name }}</p>
        </div>

        <button class="submit-button workout-detail-btn" (click)="moveRouteForward('/user-workout', workout.id)">Ver treino</button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
