

<ion-content>
  <ion-grid class="gradient home-container">

    <app-page-spinner *ngIf="showSpinner"></app-page-spinner>

    <ion-row *ngIf="!showSpinner">
      <ion-col>
        <ion-row>
          <ion-col class="title-container">
            <h1 class="title">Meus Treinos</h1>
            <ion-icon name="add" size="large" (click)="moveRouteForward('/user-add-workout')"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="userWorkouts.length === 0">
          <ion-col class="workout-not-found">
            <p>Nenhum treino encontrado</p>
          </ion-col>
        </ion-row>


        <ion-row class="workout-card-container" *ngFor="let workout of userWorkouts">
          <ion-col class="workout-card">

            <ion-row class="workout-icons-group">
              <ion-col *ngFor="let workoutList of workout.workouts" class="workout-item" size="4">
                <img [src]="workoutList.name | exerciseImg" alt="" />
                <p>{{ workoutList.name }}</p>
              </ion-col>
            </ion-row>

            <button class="submit-button workout-detail-btn" (click)="moveRouteForward('/user-workout', workout.id)">
              Ver treino
            </button>

          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
