<ion-content [fullscreen]="true">
  <ion-grid class="welcome-grid gradient">
    <ion-row class="welcome-container">

      <ion-col class="welcome-box">
        <div class="full-item">
          <ion-icon name="barbell-outline" size="large" class="welcome-icons"></ion-icon>
          <h1 class="title">Workout Wizard</h1>
        </div>
      </ion-col>

      <ion-col class="welcome-box">
        <div class="full-item">
          <h2 class="sub-title">Bem vindo</h2>
          <button class="welcome-btn sign-in-btn" (click)="moveRouteForward('/login')">ENTRAR</button>
          <button class="welcome-btn sign-up-btn" (click)="moveRouteForward('/create-account')">CADASTRO</button>
        </div>
      </ion-col>

      <ion-col class="welcome-box">
        <div class="social-box full-item">
          <p class="text">Entrar com mídias sociais</p>
          <ion-icon name="logo-google" class="welcome-icons"></ion-icon>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
