
.welcome-grid {
  height: 100%;
}

.welcome-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.welcome-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.full-item {
  width: 100%;
}
