
<ion-card *ngFor="let exercise of exercises">
  <img [src]="exercise.photo ? exercise.photo : 'https://ionicframework.com/docs/img/demos/card-media.png'" [alt]="exercise.name"/>
  <ion-card-header>
    <ion-card-title class="exercise-card-title">{{ exercise.name }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p [ngClass]="showDescriptionToggle ? 'card-description' : ''">{{ exercise.description }}</p>
    <div class="see-more-container">
      <a (click)="seeMoreBtnAction(exercise.id ? exercise.id : '')" class="exercise-card-btn">{{ showDescriptionToggle ? 'ver mais' : 'ver menos'}}</a>
      <ion-icon [name]="listType === 'detail' ? 'arrow-forward-outline' : showDescriptionToggle ? 'arrow-down-outline' : 'arrow-up-outline'"></ion-icon>
    </div>
  </ion-card-content>
</ion-card>
