
.form-title-box {
  padding: 1rem 1rem;
}

.have-account-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.have-account-box {
  text-align: end;
  margin-bottom: 2rem;
}

.have-account-box p {
  color: var(--primary-dark);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.have-account-box a {
  color: var(--primary-green);
}

.have-account-row {
  width: 100%;
}


