
.create-account-form-row {
  background-color: var(--neutral-white);
  height: auto;
  border-radius: 1.5rem 1.5rem 0 0;
  padding-top: 3rem;
}

.create-account-title-box {
  padding: 1rem 1rem;
}

.have-account-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.have-account-box {
  text-align: end;
  margin-top: 2rem;
}

.have-account-box p {
  color: var(--primary-dark);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.have-account-box a {
  color: var(--primary-green);
}
